<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Form</title>
  <style>
    /* ng-submitted: 表单已经提交 */
    .css-form.ng-submitted input.ng-invalid {
      background-color: red;
    }
    .css-form input.ng-invalid.ng-touched {
      background-color: #fa787e;
    }
    .css-form input.ng-valid {
      background-color: #78fa89;
    }
    /* .ng-untouched: 控件未发生交互(初始值)  ==> 控件被聚焦过(不管有没有输入值) ==> .ng-touched: 控件已发生交互 */
    /* .ng-pristine: 控件未输入过值(初始值)   ==> 控件被聚焦过并输入过值        ==> .ng-dirty: 控件输入过值 */
    /* .ng-invalid: 无效  ==> 满足要求 ==> .ng-valid: 有效  */
  </style>
</head>
<body ng-app="myApp">
<div ng-controller="MyForm">
  <!-- 注: novalidate 让浏览器不要验证表单 -->
  <!-- 注: 给 form 元素以及 input 元素添加 name 属性，用于指定表单实例上的属性名称 -->
  <form class="css-form" name="form" novalidate>
    <label>姓名: <input name="uName" type="text" ng-model="user.name" required/></label>
    <br/>
    <!-- 注: form.$submitted 如果用户提交了表单，即使其无效，则为true。 -->
    <!-- 注: form.uName.$touched 交互过后为 true -->
    <div ng-show="(form.$submitted || form.uName.$touched ) && form.uName.$error.required ">
      请输入姓名
    </div>
    <label>邮箱:
      <input name="uEmail" type="email" ng-model="user.email" required/></label>
    <div ng-show="(form.$submitted || form.uEmail.$touched) && form.uEmail.$error.required">
      请输入邮箱
    </div>
    <div ng-show="(form.$submitted || form.uEmail.$touched) && form.uEmail.$error.email">
      邮箱格式有误
    </div>
    <div>
      性别:
      <label>男<input type="radio" ng-model="user.gender" value="male"/></label>
      <label>女<input type="radio" ng-model="user.gender" value="female"/></label>
    </div>
    <label><input name="uAgree" type="checkbox" ng-model="user.agree" required/>我同意</label>
    <div ng-show="user.agree">
      签名: <input name="uSign" type="text" ng-model="user.sign" required/>
    </div>
    <div ng-show="(form.$submitted || form.uAgree.$touched) && (form.uAgree.$error.required || form.uSign.$error.required)">
      请勾选同意并签名
    </div>
    <div>
      <input type="button" value="重置" ng-click="reset(form)"/>
      <input type="submit" value="保存" ng-click="save(user)"/>
    </div>
  </form>
  <div>
    <div>master =</div>
    <div>{{ master | json }}</div>
    <div>
      <div>user =</div>
      <div>{{ user | json }}</div>
    </div>
  </div>
</div>
<script src="../lib/angular.min.js"></script>
<script src="01-use-css-class-and-attribute.js"></script>
<script>
  (function (angular) {
    angular.module('myApp', ['myForm']);
  })(window.angular);
</script>
</body>
</html>
