<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>JS-Tree</title>
  <!--<link rel="stylesheet" href="../lib/bootstrap.css">-->
  <link rel="stylesheet" href="../lib/jstree/3.3.8/themes/default/style.min.css" />
</head>

<body ng-app="myApp" ng-controller="MyController">
  <div>
    <button ng-click="changeData()">切换数据源</button>
    <button ng-click="changeSelected()">切换已选项</button>
    <button ng-click="$apply()">apply</button>
    <js-tree tree-data="treedata[treedataName]" selected-arr="selectedArray" on-change-fn="onChangeFnc(selectedArr)"
      config="{hasCheckbox: true}">
    </js-tree>
    <js-tree tree-data="treedata[treedataName]" selected-arr="selectedArray" on-change-fn="onChangeFnc(selectedArr)"
      config="{isSearchAvailable: true, hasCheckbox: true}">
    </js-tree>
    <ul>
      <li ng-repeat="item in selectedArray" ng-click="unselect(selectedArray, $index)"><a href="#">{{item.text}}</a></li>
    </ul>
  </div>
  <hr>
  <div>
    <js-tree tree-data="treedata[treedataName]" selected-arr="selectedArray2" on-change-fn="onChangeFnc(selectedArr)"></js-tree>
    <ul>
      <li ng-repeat="item in selectedArray2" ng-click="unselect(selectedArray2, $index)"><a href="#">{{item.text}}</a></li>
    </ul>
  </div>
  <!-- JavaScript 库 -->
  <script src="../lib/jquery.js"></script>
  <!--<script src="../lib/bootstrap.js"></script>-->
  <script src="../lib/angular.js"></script>
  <script src="../lib/jstree/3.3.8/jstree.js"></script>
  <!-- 组件 -->
  <script src="./my-app.js"></script>
  <script src="./js-tree-directive.js"></script>
</body>
</html>